.contacts {
	padding-top: 120px;

	&__photo {
		img {
			border-radius: 20px;
			width: 100%;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
		padding: 0 35px;
	}

	&__desc {
		display: grid;
		grid-template-rows: auto auto 1fr;
		row-gap: 60px;

		span {
			color: $main-color;
		}

		.divider {
			margin: 0;
		}
	}

	&__form {
		display: block;
		width: 100%;

		span {
			display: inline-block;
			margin-bottom: 20px;
		}
	}

	&__input {
		color: #a1a1a8;
		font-size: 14px;

		input {
			width: 100%;
			height: 100%;

			font-size: 14px;
			font-weight: 500;

			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #a1a1a8;
			outline: none;
		}

		textarea {
			margin-bottom: 10px;
			padding: 10px 16px 0 0;
			width: 100%;
			height: 100px;
			resize: none;

			border-top: none;
			border-left: none;
			border-right: none;

			outline: none;
		}
	}

	&__btn {
		border: none;
		font-weight: bold;
		font-size: 14px;
		line-height: 21px;
	}

	&__info {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 20px;
		// align-items: start;

		iframe {
			filter: grayscale(100%);
			width: 100%;
		}
	}

	&__social {
		display: flex;
		flex-direction: column;
		color: #a1a1a8;

		address {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 0;

			a {
				text-decoration: none;
				color: #a1a1a8;
				font-size: 14px;
			}
		}

		span {
			display: inline-block;
			color: #000;
		}

		&-link {
			display: flex;
			align-items: flex-end;
			text-decoration: none;
			color: inherit;

			img {
				margin-right: 10px;
			}
		}

		&-icons {
			display: flex;
			flex-direction: row;
			column-gap: 20px;

			a {
				text-decoration: none;
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
			color: #000;

			span {
				font-weight: bold;
				font-size: 14px;
			}

			small {
				font-size: 12px;
			}
		}
	}

	&__footer {}

}