.pageup {
	position: fixed;
	cursor: pointer;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 150px;
	background-color: $main-color;
	padding: 10px 0 15px 0;
	color: #000;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;

	&-text {
		writing-mode: vertical-rl;
		font-weight: bold;
	}

	&-line {
		width: 1px;
		background-color: #000;
		animation: growHeight 2s infinite alternate;
		margin-bottom: 10px;
	}
}