.resume {

	&__title {
		position: relative;
		text-align: center;
		@include before_circle;

		&:before {
			top: -6px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__subtitle {
		text-align: center;
	}

	&__wrapper {
		margin-top: 25px;
		display: grid;
		padding: 60px 65px 60px 65px;
		grid-template-columns: repeat(2, 525px);
		column-gap: 135px;

		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	}

	&__column {
		&-title {
			position: relative;
			padding-left: 35px;

			&:before {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				border-radius: 100%;
				background: $main-color;
				left: -7px;
				top: 50%;
				transform: translateY(-50%);
			}

			&_right {
				padding-right: 35px;
				text-align: right;

				&:before {
					position: absolute;
					left: auto;
					right: -7px;
				}
			}
		}

		ul {
			list-style-type: none;

			li {
				position: relative;

				&:after {
					content: '';
					width: 1px;
					height: calc(100% + 16px);
					position: absolute;
					top: -16px;
					left: 0;
					background-color: #000;
				}

				&.right {
					&:after {
						left: auto;
						right: 0;
					}
				}
			}
		}

	}

	&__item {
		position: relative;

		&:before {
			content: '';
			height: 1px;
			width: 45px;
			position: absolute;
			background-color: #000;
			top: 69px;
		}

		&-right {
			&:before {
				right: 0;
			}
		}

		&-title_right {
			text-align: right;
			margin-right: 110px;
		}

		&-head {
			position: relative;
			padding: 45px 0 0 100px;

			h4 {
				margin-bottom: 0;
			}
		}

		&-body {
			padding: 0px 43px 0 43px;
			margin-top: 12px;
		}

		&-icon {
			position: absolute;
			top: 50px;
			left: 45px;
			@include before_circle;



			img {
				position: absolute;
				left: 17px;
				top: 14px;
			}

			&_right {
				right: 95px;
				left: auto;

				&:before {
					left: 15px;
				}

				img {
					left: auto;
					right: -32px;
				}
			}

		}

		&-location {
			font-size: 12px;
			line-height: 18px;
			margin-top: 5px;
		}

		&-body {
			font-size: 12px;
			line-height: 18px;
			font-weight: 500;
		}
	}
}