.skills {
	padding-top: 120px;

	&__title {
		font-family: "Reenie Beanie", cursive !important;
		font-size: 40px;
		text-align: center;
	}

	&__items {
		margin-top: 25px;
		padding: 0 10px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px;
	}

	&__item {
		padding: 30px;
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 65px;
		}

		h3 {
			margin-top: 20px;
			margin-bottom: 0;
			text-align: center;
		}

		p {
			margin-top: 15px;
			margin-bottom: 0;
			font-size: 12px;
			line-height: 18px;
		}
	}
}