@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    margin: 0;
    font-size: 18px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}


/* --- Background properties for animation: background, cube, keyframes */
.background {
    background: linear-gradient(132deg, #66D7EB, #242f3f, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0px;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
    z-index: 0;
}

.cube:nth-child(2n) {
    border-color: #FFF;
}

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}

.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}

.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}

/* Animation of cubes */
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

/* Logotype for 'ask.Js */

.logo {
    position: relative;
    top: 250px;
    left: 600px;
    content: '';
}

.logo a {
    color: white;
    letter-spacing: 11px;
    font-family: 'Righteous', cursive;
    /* font-size: 105px; */
    position: absolute;
}


.color-span {
    font-size: 80px;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

/* Animation for logo text : line 152 */
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/* Animation and loader properties */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

/* Animation for loader */
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Animation for a loader-inner */
@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* First page css properties: custom-box */
.custom-box {
    max-width: 700px;
    background-color: #E9E9EB;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
}

.home-box,
.custom-box {
    z-index: 1;
}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide {
    display: none;
}

.home-box h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home-box p span {
    font-weight: 500;
}

.home-box .btn {
    margin-top: 20px;
}

.btn {
    padding: 15px 45px;
    background-color: #671075;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}


/* Second page css properties: quiz-box */

.quiz-box,
.custom-box {
    z-index: 1;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
    font-size: 20px;
    color: #3E619B;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text {
    font-size: 22px;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .option-container .option {
    background-color: #cccccc;
    padding: 15px;
    font-size: 19px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered {
    pointer-events: none;
}

/* Add keyframes for fadeIn in line 345 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

/* Keyframes for slideIn left - quiz-box */
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards;
}

.quiz-box .option-container .option.wrong {
    color: #ffffff;
}

.quiz-box .option-container .option.correct {
    color: #ffffff;
}

.quiz-box .btn {
    margin: 15px 0;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #cccccc;
}

.quiz-box .answers-indicator div {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 10px;
}

.quiz-box .answers-indicator div.correct {
    background-color: green;
    background-image: url(../images/correct.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiz-box .answers-indicator div.wrong {
    background-color: red;
    background-image: url(../images/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiz-box {
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Third page css properties */


.result-box {
    text-align: center;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.result-box.hide {
    display: none;
}

.result-box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #3E619B;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box td {
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    color: #000000;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn {
    margin-right: 20px;
}

/* Media */

@media(max-width: 767px) {
    .custom-box {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media(max-width: 478px) {
    .logo {
        top: 710px;
        left: 30px;
    }

    .btn {
        margin-top: 20px;
    }
}

@media(max-width: 408px) {
    .logo {
        top: 720px;
    }
}

@media(max-width: 402px) {
    .logo {
        top: 785px;
    }
}

@media(max-width: 290px) {
    .logo {
        display: none;
    }
}